*{
  box-sizing: border-box
}
body{
  margin: opx;
  padding: 0px;
  font: poppins;
  background-color: rgb(220, 154, 247);
}

#main{
  width: 100%;
  height: 50vh;
  position: relative;

}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgb(7, 7, 7);
z-index: 1;
}
.logo img{
  height:  100px;
  
}


ul{
  list-style: none ;
  display: flex;
}
a{
  text-decoration: none;
}
.menu li a{
  height: 40px;
  line-height:43px ;
  margin: 3px;
  padding: 0px 22px;
  display:flex;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color:#4682b4	;
}

.hey{
  color: rgba(27, 26, 26, 0.89);
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid rgba(27, 26, 26, 0.89);

}

.image{
  width: 500px;
  height: 500px;

}


.image img{
width: 100%;
height: 100%;
object-fit: contain;
}

.content{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);

}

.main-text
{
  width: 500px;

}

.main-text h1{
  font-size: 3.5em;
  color:rgb(46, 49, 49);
  margin: 0px 0px 10px 0px;
  line-height: 60px
}
.main-text p{
  color: rgb(121, 116, 116);
}


.resume-btn{
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 188, 194);
  border-radius: 20px;
 
}

.resume-btn:hover{
  background-color: #23cdaf;
  transition: all ease 0.2s;

}
.resume-btn{
  color: rgb(236, 229, 229);
}

.menu li a:hover{
  background-color:  #23cdaf;
  color: white;
  box-shadow: 50x 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2s;
  }